eventbridge-stepfunction-lambda-python-cdk/file-processing-workflow-cdk_2/file_processing_workflow_cdk/statemachine/statemachine.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "FileGateway",
  "States": {
    "FileGateway": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:993988011286:function:FileProcessingWorkflowCdkS-FileTypeHandlerC472B58F-GQWj1kuHdXvS"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "FileFactory"
    },
    "FileFactory": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.file_type",
          "StringEquals": "JSON",
          "Next": "JsonHandler"
        },
        {
          "Variable": "$.body.file_type",
          "StringEquals": "XML",
          "Next": "XMLHandler"
        }
      ],
      "Default": "Pass"
    },
    "JsonHandler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:993988011286:function:FileProcessingWorkflowCdkS-FileHandlerJSON164C82DF-MI4h5XHA4t4u"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "XMLHandler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-west-2:993988011286:function:FileProcessingWorkflowCdkSt-FileHandlerXML63F6F969-yehmEZWcDUxB"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
