lambda-sfn/statemachine/stateMachine.asl.json
{
    "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
    "StartAt": "Pass",
    "States": {
        "Pass": {
            "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
            "Type": "Pass",
            "Next": "Hello World example?"
        },
        "Hello World example?": {
            "Comment": "A Choice state adds branching logic to a state machine. Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.IsHelloWorldExample",
                    "BooleanEquals": true,
                    "Next": "Yes"
                },
                {
                    "Variable": "$.IsHelloWorldExample",
                    "BooleanEquals": false,
                    "Next": "No"
                }
            ],
            "Default": "Yes"
        },
        "Yes": {
            "Type": "Pass",
            "Next": "Wait 3 sec"
        },
        "No": {
            "Type": "Fail",
            "Cause": "Not Hello World"
        },
        "Wait 3 sec": {
            "Comment": "A Wait state delays the state machine from continuing for a specified time.",
            "Type": "Wait",
            "Seconds": 3,
            "Next": "Parallel State"
        },
        "Parallel State": {
            "Comment": "A Parallel state can be used to create parallel branches of execution in your state machine.",
            "Type": "Parallel",
            "Next": "Hello World",
            "Branches": [
                {
                    "StartAt": "Hello",
                    "States": {
                        "Hello": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "World",
                    "States": {
                        "World": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }
            ]
        },
        "Hello World": {
            "Type": "Pass",
            "End": true
        }
    }
}
