eventbridge-stepfunction-lambda-python-cdk/file-processing-workflow-cdk_2/file_processing_workflow_cdk/state_machine_definition.json
{
    "Comment": "A description of my state machine",
    "StartAt": "FileGateway",
    "States": {
      "FileGateway": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "file_Type_Handler_ARN"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "FileFactory"
      },
      "FileFactory": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.body.file_type",
            "StringEquals": "JSON",
            "Next": "JsonHandler"
          },
          {
            "Variable": "$.body.file_type",
            "StringEquals": "XML",
            "Next": "XMLHandler"
          }
        ],
        "Default": "Pass"
      },
      "JsonHandler": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "file_processor_json_arn"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "End": true
      },
      "Pass": {
        "Type": "Pass",
        "End": true
      },
      "XMLHandler": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "file_processor_xml_arm"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }